/* Frame page */
.navbar-brand{
    color: white; 
    font-size: 30px; 
    font-family: Raleway, sans-serif; 
    margin-left: 10px
    
}

#navbarNav{
    margin-left: 750px
}

.container{
    background-color:lightgrey; 
    width: 100%; 
    height:100%;
}

footer.page-footer{
    background-color: grey;  
    width: 100%; 
    height: 60px; 
    padding-top: 15px; 
    text-align: center
}

#imageFooter{
    max-width: 3%;
}

/* Actual page */
h3{
    padding: 15px 0px 0px 15px; 
    color: grey; 
    font-family: Raleway, sans-serif; 
    font-weight: bold
}

#googleScholar{
    padding: 25px 0px 0px 15px; 
    font-family: Raleway, sans-serif; 
    font-weight: bold
}

#publication{
    text-align: justify; 
    font-family: 'Chivo', sans-serif; 
    font-size: 15px
}

/* Frame page media */
@media (max-width: 576px){
    ol{
        width: 98%;
        text-align: left !important
    }
    img{
        width: 95% !important
    }
    .navbar{
        width: 100%
    }
    #navbarNav{
        margin-left: 0px
    }
   
}

@media (max-width: 768px){
    ol{
        width: 98%;
        text-align: left !important
    }
    img{
        width: 60% !important
    }
    .navbar{
        width: 100%
    }
    #navbarNav{
        margin-left: 0px
    }
    
}

@media (max-width: 920px){
    ol{
        width: 98%;
        text-align: left !important
    }
    img{
        width: 60% !important
    }
    .navbar{
        width: 100%
    }
    #navbarNav{
        margin-left: 0px
    }
}

@media (max-width: 1024px){
    ol{
        width: 98%;
        text-align: left !important
    }
    img{
        width: 60% !important
    }
    .navbar{
        width: 100%
    }
    #navbarNav{
        margin-left: 0px
    }
}

